

<style>
  body, html {
  height: 100%;
  margin: 0;
}

   body {
    background: url("https://cdn.discordapp.com/attachments/335738804755365888/1050346129667141642/image.png");
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

   #counter {
    transition-duration: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
   }

   #counter:hover {
    background-color: #ffef42;
    color: rgb(131, 162, 255);  
   }

   section {
    text-align: center;
   }

    p {
    text-align: center;
   }


</style>

