

  body, html {
  height: 100%;
  margin: 0;
  font-family:'Tahoma';
}

   body {
    background-color: #f0f0f0;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

   #counter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
   }

   #counter:hover {
    background-color: #faec6e;
    color: rgb(131, 162, 255); 
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 170px;
    border-bottom-left-radius: 170px;
   }

   section {
    text-align: center;
     font-size: 30px;
   }

   h1 {
    color: #072f7d;
   }

    p {
    text-align: center;
    color: #072f7d;
   }
      
   #save {
    background-color: #f0f0f0;
    border-radius: 5px;
  }

#save:hover {
    background-color: #d4fcac;
    border-radius: 5px;
   }

   #load {
    background-color: #f0f0f0;
    border-radius: 5px;
  } 
     
#load:hover {
    background-color: #b8acfc;
    border-radius: 5px;
   }


   }
