html,
body {
  border-radius: 88px;
  background: #5896d0;
  box-shadow:  23px 23px 53px #4575a2,
             -23px -23px 53px #6bb7fe;
}


<style>
  #counter {
    transition-duration: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;

   }

   #counter:hover {
    background-color: #efe470;
    color: rgb(131, 162, 255);  
    }

   section {
    text-align: center;
   }

    p {
    text-align: center;
    }\
</style>

